%form{class: 'new_door',action: '/doors',method: 'post'}
  %label{for: 'door_size'}Size
  %input{type: 'text',name: 'door[size]'}
  .div
    %label{for:'door_color'}Color
    %input{type: 'text',name: 'door[color]'}
  %input{type: 'submit',name: 'commit', value: 'submit'}
